/* begin overall style */
body
{
  margin: 30px 0 0 0;
  padding: 0;
  background: #171717 url(../images/ushcompu-logo.png) no-repeat fixed center center;
  color: #bbb;
  font: normal 10pt sans-serif,Arial,Helvetica;
  padding: 0 0 2.15em 0;
}

div#mainmenu {
  background: #424441;
  overflow: hidden;
  width: 100%;
  height: 20pt;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
}

@media screen {
  body div#mainmenu {
    position: fixed;
  }
}

a {
  color: #0c6;
}
a:hover {
  text-decoration: none;
}

#page
{
  /*width: 750px*/;
  margin: 0 auto;
  padding: 0;
}

#header
{
  margin: 0;
  padding: 0;
  /*height: 95px*/;
}

#header-message {
  width: 20em;
  height: 6em;
  text-align: right;
  top: 20px;
  right: 3.5%;
  position: absolute;
  z-index: 100;
}

#logo
{
  /*padding: 20px 0 20px 10px*/;
  font-size: 200%;
}

#mainmenu ul
{
  padding: 0;
  margin: 0;
  padding: 0.4em 0 0.3em 0;
}

#mainmenu ul li
{
  display: inline;
  margin: 0 0.4em;
}

#mainmenu ul li a
{
  padding: 0.6em 0.6em;
  color: #0c6;
  text-decoration: none;
  font-size: 12pt;
}

#mainmenu ul li a:hover, #mainmenu ul li a.active
{
  background: #0c6;
  color: #000;
}
.mainmenu-item {
  color: #0df;
}

#content
{
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 0px;
}

#footer
{
  clear: both;
  margin: 20px 0 0 0;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #EEE;
}
/* end of overall style */

/* begin data grid style */
table.dataGrid
{
  background: #124;
  border-collapse: collapse;
  width: 100%;
}

table.dataGrid th, table.dataGrid td
{
  font-size: 0.9em;
  border: 1px #4F81BD solid;
  padding: 0.3em;
}

table.dataGrid th
{
  background: #248;
  text-align: center;
}

table.dataGrid th.label
{
  width: 150px;
}

table.dataGrid tr.odd
{
  background: #246;
}
/* end of data grid style */

.actionBar
{
  margin: 10px;
}

div.item
{
  margin: 10px 0 0 0;
  border: 1px solid silver;
  padding: 5px;
}

div.geshi {
  color: #000;
  background: #aaa;
}
div.geshi div ol li.li1 { background-color: #eee; }
div.geshi div ol li.li2 { background-color: #ddd; }
div.geshi div ol li.li1, div.geshi pre ol li.li2 { width: 100%; }

#ajax-pastes {
  float: right;
  margin: 2em;
  width: 400px;
  height: 200px;
  overflow: auto;
}
