/*
IMPORTS
*/
 
// Import the Bootstrap mixins, operations and functions so that you can use them in this file.
@import "../protected/extensions/bootstrap/lib/bootstrap/less/responsive.less";
 
/*
VARIABLES
*/
@linkColor:               @green;
@primaryButtonBackground: @linkColor;
 
// Your variables goes here ...
 
/*
MIXINS
*/
 
// Your mixins goes here ...
 
/*
RULES
*/
 
// Your rules goes here ...

a {
  color: @green;
}

body {
  color: @grayLighter;
  background-color: @grayDarker;
}

.hero-unit {
  background-color: @grayDark;
}

h1, h2 {
  color: @grayLight;
}

h3, h4, h5, h6, h7, label, select, textarea, input {
  color: @grayLighter;
}

select, input, textarea {
  background: @grayDarker;
}

.breadcrumb {
  #gradient > .vertical(@gray, @grayDark);
  border: 1px solid @grayDark;
  .box-shadow(inset 0 1px 0 @gray);
  li {
    text-shadow: 0 1px 0 @gray;
  }
}

.navbar-inner {
  #gradient > .vertical(@gray, @grayDark);
}

a:hover {
  color: lighten(@linkColor, 15%);
}

.btn {
  .buttonBackground(@black, lighten(@black, 10%));
  color: @grayLighter;
  text-shadow: 0 1px 1px rgba(255,255,255,.25);
}
.btn:hover {
  color: @white;
}

.btn-primary {
  .buttonBackground(@primaryButtonBackground, spin(@primaryButtonBackground, 20));
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: @white;
}

div.geshi {
  background: @grayDarker;
  color: black;
}
div.geshi div ol {
  color: @grayLight;
}
div.geshi div ol li div{
  color: black;
}
div.geshi div ol li.li1 { background-color: #eee; }
div.geshi div ol li.li2 { background-color: #ddd; }
div.geshi pre div ol li.li1, div.geshi pre ol li.li2 { width: 100%; }
